INVOICE_MAX_FILE_MB=15
INVOICE_PDF_DPI=200
INVOICE_DIGITAL_PDF_MIN_CHARS=40

INVOICE_DEFAULT_ENGINE=auto
INVOICE_PADDLE_LANG=id
INVOICE_TESSERACT_LANG=ind+eng
INVOICE_PADDLE_MIN_CONFIDENCE=0.60

INVOICE_DEFAULT_TOLERANCE_AMOUNT=100
INVOICE_DEFAULT_TOLERANCE_PERCENT=0.01
